
	<%- contentFor('hero') %>
	<section class="hero">
		<div class="hero-content">
			<h1>All about us!</h1>
			<h2>We're a small team.</h2>

			<a href="/contact" class="btn btn-lg btn-primary">Drop us a line</a>
		</div>
	</section>

	<%- contentFor('body') %>
	<div class="jumbotron text-center">
		About Page
	</div>
